@import "app/media.scss";
@import "app/vars.scss";

#home {
	position: relative;
	min-height: 460px;
	height: calc(100vh - 120px);
	width: 100%;

	.item {
		.container {
			height: 100%;
			.panel {
				left: 100px;
				border-radius: 6px;
				padding: 15px 35px;
				color: $grey;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				max-width: 50%;
				@include media("mobile", "tablet") {
					min-width: 60%;
					max-width: 80%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				.text {
					opacity: 0;
					background-color: rgba(0, 0, 0, 0.85);
					overflow: hidden;
					transition: 350ms 600ms;
					margin-bottom: 35px;
					padding: 20px 30px;
					border-radius: 6px;
					.content {
						opacity: 0;
						font-size: 28px;
						white-space: normal;
						transform: translate(0px, -100%);
						transition: 350ms 300ms;
						font-weight: bold;
						text-transform: uppercase;
						color: #bbbbbb;
					}
				}

				.buttons {
					opacity: 0;
					transform: translate(0px, 100%);
					transition: 350ms 0ms;
					margin-left: 30px;

					a {
						color: white;
						text-decoration: none;
						padding: 10px 16px;
						background-color: $green;
						margin-right: 15px;
						border-radius: 6px;
						font-weight: bold;
						font-size: 16px;
						&.light {
							background-color: $light-green;
						}
					}
				}
			}
		}
	}

	&.active .item.active {
		.container {
			.text, .text .content,
			.buttons {
				opacity: 1;
				transform: translate(0%, 0%);
			}
			.text {
				transition: 350ms 350ms;
				.content {
					transition: 350ms 650ms;
				}
			}
			.buttons {
				transition: 350ms 950ms;
			}
		}
	}
}
